$heading: rgba(82, 82, 82, 1);
$body: rgba(102, 102, 102, 1);

$primary: rgba(0, 167, 225, 1);
$primary-lighter: rgba(115, 207, 238, 1);
$primary-darker: rgba(0, 122, 164, 1);

$black: rgb(35, 35, 50);
$white: rgb(252, 252, 252);
 
$grey-1: rgb(240, 240, 240);
$grey-2: rgb(220, 220, 220);
$grey-3: rgb(200, 200, 200); 
$grey-4: rgb(180, 180, 180);

$success: rgba(110, 239, 139, 1);
$success-lighter: rgba(149, 243, 170, 1);
$success-darker: rgba(81, 174, 102, 1);

$error: rgba(245, 62, 88, 1);
$error-lighter: rgba(246, 97, 118, 1);
$error-darker: rgba(201, 51, 73, 1);