/*
    BreakPoints

    xs <  576
    sm >= 576
    md >= 768
    lg >= 992
    xl >= 1200
*/

@mixin respond($bp) {
  @if $bp == xs {
    @media (max-width: 36em) {
      @content;
    }
  }

  @if $bp == sm {
    @media (min-width: 36em) and (max-width: 48em) {
      @content;
    }
  }

  @if $bp == md {
    @media (min-width: 48em) and (max-width: 62em) {
      @content;
    }
  }

  @if $bp == lg {
    @media (min-width: 62em) and (max-width: 75em) {
      @content;
    }
  }

  @if $bp == xl {
    @media (min-width: 75em) {
      @content;
    }
  }
}

html {

  font-size: 10px;
  
  @include respond(xl) {
    font-size: 100%;
  }
  @include respond(lg) {
    font-size: 95%;
  }
  @include respond(md) {
    font-size: 90%;
  }
  @include respond(sm) {
    font-size: 85%;
  }
  @include respond(xs) {
    font-size: 80%;
  }
}
