/*
    BreakPoints

    xs <  576
    sm >= 576
    md >= 768
    lg >= 992
    xl >= 1200
*/

@mixin respond($bp) {
  @if $bp == xs {
    @media (max-width: 576px) {
      @content;
    }
  }

  @if $bp == sm {
    @media (min-width: 576px) and (max-width: 768px) {
      @content;
    }
  }

  @if $bp == md {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  }

  @if $bp == lg {
    @media (min-width: 992px) and (max-width: 1200px) {
      @content;
    }
  }

  @if $bp == xl {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

html {

  font-size: 10px;
  
  @include respond(xl) {
    font-size: 100%;
  }
  @include respond(lg) {
    font-size: 95%;
  }
  @include respond(md) {
    font-size: 90%;
  }
  @include respond(sm) {
    font-size: 85%;
  }
  @include respond(xs) {
    font-size: 80%;
  }
}
