@mixin respond($bp) {
    @if $bp == phone {
        @media (max-width: 26.5625em) {
            @content
        }
    }
    
    @if $bp == tablet {
        @media (max-width: 48em ) {
            @content
        }
    } 
    
    @if $bp == laptop {
        @media (max-width: 64em ) {
            @content
        }
    }
    
    @if $bp == dektop {
        @media (max-width: 90em ) {
            @content
        }
    }
    
    @if $bp == huge {
        @media (max-width: 160em ) {
            @content
        }
    }
}

html {
    font-size: 62.5%;
    
     @include respond(huge) {
        font-size: 100%;
    }
    @include respond(desktop) {
        font-size: 95%;
    }
    @include respond(laptop) {
        font-size: 90%;
    }
     @include respond(tablet) {
        font-size: 85%;
    }
    @include respond(phone) {
        font-size: 80%;
    }
}


