.flex {
    display: flex;
}

.row {
    flex-direction: row
}

.col {
    flex-direction: column
}

.wrap {
    flex-wrap: wrap
}

.align-center {
    align-items: center
}

.justify-center {
    justify-content: center
}

.flex-g-1 {
    flex-grow: 1
}

.flex-g-2 {
    flex-grow: 2
}

.flex-g-3 {
    flex-grow: 3
}
