.bg-white {
    background: $white;
}

.bg-black {
    background: $black;
}

.bg-primary {
    background: $primary;
}

.bg-primary-darker {
    background: $primary-darker;
}

.bg-primary-lighter {
    background: $primary-lighter;
}

.bg-grey-1 {
    background: $grey-1;
}

.bg-grey-2 {
    background: $grey-2;
}

.bg-grey-3 {
    background: $grey-3;
}

.bg-grey-4 {
    background: $grey-4;
}