.b-a-1 {
    border: 1px solid;
}

.b-a-2 {
    border: 2px solid;
}

.b-a-3 {
    border: 3px solid;
}

.b-b-1 {
    border-bottom: 1px solid;
}

.b-b-2 {
    border-bottom: 2px solid;
}

.b-b-3 {
    border-bottom: 3px solid;
}

.b-t-1 {
    border-top: 1px solid;
}

.b-t-2 {
    border-top: 2px solid;
}

.b-t-3 {
    border-top: 3px solid;
}

.b-r-1 {
    border-right: 1px solid;
}

.b-r-2 {
    border-right: 2px solid;
}

.b-r-3 {
    border-right: 3px solid;
}

.b-l-1 {
    border-left: 1px solid;
}

.b-l-2 {
    border-left: 2px solid;
}

.b-l-3 {
    border-left: 3px solid;
}


.b-grey-1 {
    border-color: $grey-1;
}

.b-grey-2 {
    border-color: $grey-2;
}

.b-grey-3 {
    border-color: $grey-3;
}

.b-grey-4 {
    border-color: $grey-4;
}

.b-white {
    border-color: $white;
}

.b-black {
    border-color: $black;
}

.b-primary {
    border-color: $primary;
}

.b-primary-lighter {
    border-color: $primary-lighter;
}

.b-primary-darker {
    border-color: $primary-darker;
}

.b-rad-1 {
    border-radius: 1px;
}

.b-rad-3 {
    border-radius: 3px;
}

.b-rad-5 {
    border-radius: 5px;
}

.b-rad-50 {
    border-radius: 50%;
}