.shadow {
    box-shadow: $shadow;
}

.shadow-md {
    box-shadow: $shadow-md;
}

.shadow-lg {
    box-shadow: $shadow-lg;
}

.box {
    box-shadow: $shadow;
    border-radius: 5px;
    padding: 1rem;
}
