.p-a-auto {
    padding: auto;
}


.p-a-1 {
    padding: .5rem;
}

.p-a-2 {
    padding: 1rem;
}

.p-a-3 {
    padding: 1.5rem;
}

.p-a-4 {
    padding: 2rem;
}

.p-a-5 {
    padding: 2.5rem;
}

.p-a-6 {
    padding: 3rem;
}



.p-r-1 {
    padding-right: .5rem;
}

.p-r-2 {
    padding-right: 1rem;
}

.p-r-3 {
    padding-right: 1.5rem;
}

.p-r-4 {
    padding-right: 2rem;
}

.p-r-5 {
    padding-right: 2.5rem;
}

.p-r-6 {
    padding-right: 3rem;
}





.p-l-1 {
    padding-left: .5rem;
}

.p-l-2{
    padding-left: 1rem;
}

.p-l-3 {
    padding-left: 1.5rem;
}

.p-l-4 {
    padding-left: 2rem;
}

.p-l-5{
    padding-left: 2.5rem;
}

.p-l-6 {
    padding-left: 3rem;
}







.m-t-1 {
    margin-top: .5rem;
}

.m-t-2 {
    margin-top: 1rem;
}

.m-t-3 {
    margin-top: 1.5rem;
}

.m-t-4 {
    margin-top: 2rem;
}

.m-t-5 {
    margin-top: 2.5rem;
}

.m-t-6 {
    margin-top: 3rem;
}



.m-b-1 {
    margin-bottom: .5rem;
}

.m-b-2 {
    margin-bottom: 1rem;
}

.m-b-3 {
    margin-bottom: 1.5rem;
}

.m-b-4 {
    margin-bottom: 2rem;
}

.m-b-5 {
    margin-bottom: 2.5rem;
}

.m-b-6 {
    margin-bottom: 3rem;
}