.max-width-1 {
    max-width: 10rem;
}

.max-width-2 {
    max-width: 20rem;
}

.max-width-3 {
    max-width: 30rem;
}

.max-width-4 {
    max-width: 40rem;
}

.min-width-1 {
    min-width: 10rem;
}

.min-width-2 {
    min-width: 20rem;
}

.min-width-3 {
    min-width: 30rem;
}

.min-width-4 {
    min-width: 40rem;
}

.width-100 {
    width: 100%;
}